body{
 display:flex;
 justify-content: center;
 align-items: center; /* To align all the items in the body */
 height: 100vh;
 font-family: 'Montserrat', sans-serif;
 background: #222;
 background-image: url(https://source.unsplash.com/1600x900/?landspace?); /* API FOR IMAGES */
 background-size: cover;
 font-size: 120%;
}

h1.temp{
    margin: 0.1em;
    margin-bottom: 0.3em;
}


.card{
    background: #000000d0; /* Transparency */
    color:white; /* Color of the text */
    padding:3em; /* Border */
    border-radius: 20%; /* Border radius */
    width:100%; /* Width of the object */
    max-width: 300px; 
    height: 100%; /* Height of the object */
    max-height: 370px;
    margin-top: 1em; /* How far it is from the top */
}

.search{
    display:flex;
    align-items: center;
    justify-content: center;

}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    font-family: inherit;
    font-size: 120%;
    background: #7c7c7c2b;
    color: white;
    width:calc(100% - 100px);
}


button:hover{
   
    background: #7c7c7c6b;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height:46px;
    padding:0.4em 1em;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out; /* Light Transition when hovered */
}

.flex{
    display: flex;
    align-items: center;
}

.description{
    text-transform: capitalize;
    margin-left:8px;
}

.weather.loading{
    visibility:hidden;
    max-height: 20px;
    position:relative;

}

.weather.loading:after { 
    visibility: visible;
    content: "Loading...";
    color:white;
    position:absolute;
    top: 0;
    left:20px;
    
}
